<!doctype html>
<html lang="{{ .Site.LanguageCode | default `en` }}">
{{ partial "head/head.html" . }}
{{ if eq .Kind "home" -}}
    {{ .Scratch.Set "class" "home" -}}
{{ else if eq .Kind "404" -}}
    {{ .Scratch.Set "class" "error404" -}}
{{ else if eq .Kind "page" -}}
    {{ .Scratch.Set "class" .Type -}}
    {{ .Scratch.Add "class" " single" -}}
{{ else -}}
    {{ .Scratch.Set "class" .Type -}}
    {{ .Scratch.Add "class" " list" -}}
{{ end -}}
<body class="{{ .Scratch.Get `class` }}">
    {{- partial "header/header.html" . -}}
    <div id="content">
        {{ if and (.Site.Params.options.breadCrumb) (ne .Kind "home") -}}
            {{- partial "header/breadcrumb.html" . -}}
        {{ end }}
        {{- block "main" . }}{{- end }}
    </div>
    {{ partial "footer/footer.html" . }}
    {{ partial "footer/script-footer.html" . }}
</body>
</html>
